* {
    font-family: "Source Sans Pro", sans-serif;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;

    animation: easeInScreen 0.2s ease-in backwards;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 5em;
    margin-bottom: 10px;
    background: 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    background: 0;
}

h3 {
    font-size: 2em;
    margin-bottom: 10px;
    background: 0;
}

p {
    background: 0;
}

.navbar {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: right;
    font-family: "Source Sans Pro", sans-serif;
    user-select: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #e2e2e2;
    transition: color 0.2s, background-color 0.2s;
}

standout {
    color: gold;
    background: 0;
}

tempp {
    opacity: 0;
    background: 0;

    transition: opacity 0.2s;
}

.intro {
    color: rgb(243, 243, 243);
    position: relative;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(39, 69, 202, 0.8), rgba(0, 3, 185, 0.8)), url("assets/flat-mountains.svg");
    
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    border-radius: 10px;
    justify-content: center;

    animation: easeInSection 0.7s;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: 0;
}

.socials-icon {
    height: 25px;
    width: 25px;
    margin: 0 10px;
    background: 0;
    user-select: none;
}

.socials-icon:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.about {
    color: rgb(243, 243, 243);
    position: relative;
    padding: 20px;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(39, 69, 202, 0.8), rgba(0, 3, 185, 0.8)), url("assets/common-bg.svg");
    
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    border-radius: 10px;
    justify-content: center;

    animation: easeInSection 0.7s;
}

.about-description {
    margin-top: 100px;
    margin-right: 67%;
    max-width: 800px;
    background: 0;
    opacity: 0;
}

.about-description.visible {
    opacity: 1;
    animation: easeInSection 1s ease-in backwards;
}

.about-skills {
    margin-top: -200px;
    margin-left: 67%;
    max-width: 800px;
    background: 0;
    opacity: 0;
}

.about-skills.visible {
    opacity: 1;
    animation: easeInSection 1s ease-in backwards;
}

.about-skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: 0;
}

.about-skills li {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 3, 185, 0.8);
    color: white;
    transition: background-color 0.2s;

    user-select: none;
}

.about-skills li:hover {
    background-color: rgba(0, 3, 185, 1);
    transition: background-color 0.2s;
}

.about-skills h3 {
    background: 0;
}

.contact {
    /* email form */
    color: rgb(243, 243, 243);
    position: relative;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(39, 69, 202, 0.8), rgba(0, 3, 185, 0.8));
    border-radius: 10px;
}

.contact-form {
    /* nice looking contact form */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
}

.contact-form textarea {
    height: 200px;
    resize: none;
}

.contact-form button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border:0cap;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 3, 185, 0.8);
}

.contact-form form {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.contact-form input:hover,
.contact-form textarea:hover {
    background: #e2e2e2;
}

.container {
    background-image: linear-gradient(to left, rgba(39, 69, 202, 0.8), rgba(0, 3, 185, 0.8)), url("assets/common-bg.svg");
    border-radius: 10px;
    color: rgb(243, 243, 243);
}

.projects {
    color: rgba(243, 243, 243);
    position: relative;
    padding: 20px;
    background-image: linear-gradient(to left, rgba(39, 69, 202, 0.8), rgba(0, 3, 185, 0.8)), url("assets/common-bg.svg");

    display: flex;
    flex-direction:row;
    
    background-size: cover;
    background-position: center;
    /* margin-top: 50px; */
    height: 100vh;
    width: 100%;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
}

.container h1 {
    align-self: center;
    justify-content: center;
    margin-top: -1px;
    margin-bottom: 10px;
}

.project {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;

    position: relative;

    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;

    opacity: 1;

    width: 400px;
    height: 250px;
    
    border: 1px solid rgba(0, 3, 185, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 3, 185, 0.8);

    transition: height 0.2s;
}

.project img {
    width: 345px;
    height: 180px;

    margin-right: 5%;

    user-select: none;
    border-radius: 10px;

    transform: scale(0.9);
    
    transition: height, transform;
}

.project p {
    opacity: 0;

    transition: opacity 0.2s;
}

.project tempp {
    margin-top: 15px;
    align-self: center;
    opacity: 1;
}

.project:hover tempp {
    opacity: 0;
}

.project:hover {
    height: 450px;
    cursor: pointer;

    transition: height 0.2s;
}

.project:hover p {
    opacity: 1;

    transition: transform, opacity 0.2s;
}

.project:hover img {
    height: 180px;
    width: 345px;

    transition: height, width;
}

/* animations */
@keyframes easeInScreen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes easeInSection {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* media queries */
@media (max-width: 768px) {
    /* Adjustments for phone users */
    .navbar {
        justify-content: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    .intro {
        height: 100vh;
    }

    .about {
        height: 100vh;
    }

    .contact {
        height: 100vh;
    }

    .projects {
        height: 200vh;
    }

    .project {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 500px) {
    .projects {
        height: 250vh;
    }
    .contact {
        height: 100vh;
    }
    .intro {
        height: 100vh;
    }
    .about {
        height: 100vh;
    }
}